#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}

#root > div {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

#root img {
  width: 30rem;
  height: 30rem;
  max-width: 100%;
  object-fit: contain;
}

h1 {
  position: absolute;
  margin: 0;
  color: #fff;
}

button {
  position: absolute;
  color: #ffffff;
  background-color: rgba(243, 210, 210, 0.8);
  border-radius: 1rem;
  padding: 0.5rem 1.5rem;
  font-size: 1rem;
  line-height: 0.75rem;
  font-family: 'Joyful';
}

button:hover {
  background-color: #f3d2d2cc;
  cursor: pointer;
}

p {
  margin: 0.5rem 0 0;
  color: #764c4c;
  font-size: 1.5rem;
}

img {
  display: block;
  margin: 0 auto;
  border-radius: 1rem;
  border: 0.5rem solid #533d3d;
  box-shadow: 0 0 1rem #533d3d88;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
