@font-face {
  font-family: 'Joyful';
  src: url('/joyful.ttf') format('truetype');
}

:root {
  font-family: 'Joyful', system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #edc9c9;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  overflow: hidden;
}


body {
  margin: 0;
  display: flex;
  place-items: center;
  width: 100%;
  height: 100vh;
  background-image: url('background.png');
  background-size: 275px 275px;
  background-repeat: repeat;
  background-position: 0 0;
  animation: fallingBackground 10s linear infinite;
  overflow: hidden;
}

@keyframes fallingBackground {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 0 275px;
  }
}